<footer>
  <blockquote class="about-us">
    <p>
      At Spinel Cooperative, we're building <a href="https://rv.dev"><code>rv</code></a>, a very fast version and
      package
      manager for Ruby. Hire us to <a href="https://spinel.coop">multiply your team's productivity</a>.
    </p>

    <div>
      Subscribe to the Spinel newsletter to hear about the latest on <a href="https://rv.dev"><code>rv</code></a> and our other open source tools, plus posts about developer productivity and links to other cool projects.
    </div>
    <form action="https://buttondown.com/api/emails/embed-subscribe/spinel" method="post"
      class="embeddable-buttondown-form">
      <input type="email" name="email" placeholder="you@example.com">
      <input type="hidden" value="1" name="embed">
      <input type="hidden" name="tag" value="website">
      <input type="submit" value="Subscribe">
    </form>
  </blockquote>
</footer>
