{{ define "main" }}
  {{ partial "nav.html" }}
  <h1>{{ .Title | safeHTML }}</h1>

  <div style="text-align: right">
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  </div>

  {{ .Content }}


  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

  <blockquote class="about-us">
    At Spinel Cooperative, we're building <a href="https://rv.dev"><code>rv</code></a>, a very fast version and package manager for Ruby. Hire us to <a href="https://spinel.coop">multiply your team's productivity</a>.
  </blockquote>
{{ end }}
